@page "/eventDetails/{Id:int}"
@inherits EventDetailsBase
@attribute [Authorize]

<PageTitle>Event details</PageTitle>

@if (Event is null && ErrorMsg is null)
{
    <h3>Loading...</h3>
}
else if (ErrorMsg is not null)
{
    <h3 class="text-danger">@ErrorMsg</h3>
}
else
{
    <div class="container pt-md-5">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="d-flex">
                    <i class="fa-solid fa-bolt pe-2 pt-3 fa-lg text-primary"></i>
                    <div class="text-uppercase fs-3 fw-bold">@Event?.Title</div>
                </div>
                <div class="d-flex">
                    <i class="fa-solid fa-location-dot pe-2 pt-2 fa-lg text-primary"></i>
                    @if (Event?.Lat is not null && Event?.Long is not null)
                    {
                        <div class="fs-6 fw-bold">@Event?.Lat, @Event?.Long</div>
                    }
                    else
                    {
                        <div class="fs-6 fw-bold">Location not set</div>
                    }
                </div>

                <div class="py-5 d-flex">
                    <img class="rounded-circle shadow-4-strong img-fluid hvr-glow cursor" style="max-width: 80px; max-height: 80px;" alt="avatar2" src="@UserProfileImageData"
                        @onclick="() => GoToUserProfile(Event?.User.Id)" />
                    <div class="ms-md-5 ms-3 mt-2">
                        <div class="fs-5 fw-bold">@Event?.User.FirstName @Event?.User.LastName</div>
                        <div class="text-muted fs-6 fw-semibold">Event creator</div>
                    </div>
                </div>
                
                <hr>

                <div class="row py-3 g-4">
                    <div class="col-6">
                        <div class="d-flex align-content-center">
                            <i class="fa-solid fa-calendar-day fa-lg text-primary align-self-center pe-3"></i>
                            <div class="fw-bold fs-5">Date</div>
                        </div>
                        @if (Event?.Time is not null)
                        {
                            <div class="fs-3 fw-bold text-uppercase">
                                @Event?.Time.Value.Day @Event?.Time.Value.ToString("MMM")
                            </div>
                        }
                        else
                        {
                            <div class="fs-5 fw-bold text-muted">Date not set</div>
                        }
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-content-center">
                            <i class="fa-solid fa-clock fa-lg text-primary align-self-center pe-3"></i>
                            <div class="fw-bold fs-5">Time</div>
                        </div>
                        @if (Event?.Time is not null)
                        {
                            <div class="fs-3 fw-bold text-uppercase">
                                @GetTime(Event?.Time.Value.TimeOfDay.ToString())
                            </div>
                        }
                        else
                        {
                            <div class="fs-5 fw-bold text-muted">Time not set</div>
                        }
                    </div>
                </div>

                <div class="row mt-md-5 pt-md-5 align-content-center">
                    <div class="d-flex">
                        <button type="button" class="btn btn-secondary col-6 fw-bold text-white" @onclick="() => SaveEvent(Event)">Save event</button>
                        <a href=".." class="btn col-6 hvr-grow fw-bold align-self-center">
                            Back
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>

            <div class="col-md-6 col-sm-12 py-4 py-md-0">
                <div>
                    <img class="img-fluid rounded-3" style="max-height: 350px; width: 100%;" alt="alt" src="@GetImg(Event)">
                </div>

                <div class="fs-3 fw-bold py-3">
                    Description
                </div>
                <div class="fs-6 text-muted fw-semibold text-break">@Event?.Description</div>
            </div>
        </div>
    </div>
}

