@inherits LayoutComponentBase

<div>
    <div>
        <NavMenu />
    </div>

    <main class="container-fluid">
        <article class="content">
            @Body
        </article>
    </main>
</div>
