@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div>
    <div>
        <NavMenu />
    </div>

    <main class="container-fluid">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="5" IconType="IconType.FontAwesome"
                SuccessIcon="fa-solid fa-thumbs-up" ErrorIcon="fa-solid fa-bug" WarningIcon="fa-solid fa-circle-exclamation"/>
